<h1>Owl</h1>

<hr>
<img class="bird-image" src="/assets/Athene_noctua.jpg">
<p>
  Owls are birds from the order Strigiformes, which includes about 200 species of mostly solitary and nocturnal birds
  of prey typified by an upright stance, a large, broad head, binocular vision, binaural hearing, sharp talons, and
  feathers adapted for silent flight. Exceptions include the diurnal northern hawk-owl and the gregarious burrowing
  owl.


</p>
<p>Owls hunt mostly small mammals, insects, and other birds, although a few species specialize in hunting fish. They
  are found in all regions of the Earth except Antarctica and some remote islands.

</p>
<p>Owls are divided into two families: the true (or typical) owl family, Strigidae, and the barn-owl family,
  Tytonidae.

</p>

<p>Eyesight is a particular characteristic of the owl that aids in nocturnal prey capture. Owls are part of a small
  group of birds that live nocturnally, but do not use echolocation to guide them in flight in low-light situations.
  Owls are known for their disproportionally large eyes in comparison to their skulls. An apparent consequence of the
  evolution of an absolutely large eye in a relatively small skull is that the eye of the owl has become tubular in
  shape. This shape is found in other so-called nocturnal eyes, such as the eyes of strepsirrhine primates and
  bathypelagic fishes.[16] Since the eyes are fixed into these sclerotic tubes, they are unable to move the eyes in
  any direction.[17] Instead of moving their eyes, owls swivel their heads to view their surroundings. Owls' heads are
  capable of swiveling through an angle of roughly 270°, easily enabling them to see behind them without relocating
  the torso.[17] This ability keeps bodily movement at a minimum, thus reduces the amount of sound the owl makes as it
  waits for its prey. Owls are regarded as having the most frontally placed eyes among all avian groups, which gives
  them some of the largest binocular fields of vision. However, owls are farsighted and cannot focus on objects within
  a few centimeters of their eyes.[16][18] While owls are commonly believed to have great nocturnal vision due to
  their large (thus very light-gathering) eyes and pupils and/or extremely sensitive rod receptors, the true cause for
  their ability to see in the night is due to neural mechanisms which mediate the extraction of spatial information
  gathered from the retinal image throughout the nocturnal luminance range. These mechanisms are only able to function
  due to the large-sized retinal image.[19] Thus, the primary nocturnal function in the vision of the owl is due to
  its large posterior nodal distance; retinal image brightness is only maximized to the owl within secondary neural
  functions.[19] These attributes of the owl cause its nocturnal eyesight to be far superior to that of its average
  prey.[19]

</p>
